<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    data-layout-decorate="~{admin/common/layout}"  >
    

	<section layout:fragment="admin_content">
        <div class="container-fluid px-4">
            <h1 class="mt-4">QnA 관리</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">QnA 관리하는 페이지입니다.</li>
            </ol>
            <div class="row">
            
            </div>
        </div>    
    </section>           
    
</html>     